<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="styles/main.css">

  </head>
  <body>
    <header>
      <h1>E-commerce Project</h1>
      <a href="/"><button>Home</button></a>
      <a href="/about"><button>About</button></a>
      <a href="/cart"><button>Cart</button></a>
      <a href="/login"><button>Login</button></a>
      <hr>
    </header>
    <div class="container">
      <div class="eight column ">
        <h4>This site was made by Erwin Hessing. </h4>
        <h6>You can find the code on Github <a href="https://github.com/ejhessing/ecommerce">here!</a></h6>
      </div>
    </div>
  </body>
</html>
