<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/styles/products.css">


  </head>
  <body>
    <div class="container">
      <div class="row">
      <div class="one-half column">
        <img src ="{{data.image}}" alt="{{data.name}}" class="productImg">

      </div>
      <div class="one-half column">
        <h2>{{data.name}}</h2>
        <h4>{{data.price}}</h4>
        <p>Description</p>
        <a href="/add"><button name="cart">Cart</button></a>
      </div>
    </div>
  </body>
</html>
