<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="../styles/main.css">

  </head>
  <body>
    <header>
        <h1>E-commerce Project</h1>
        <a href="/"><button>Home</button></a>
        <a href="/about"><button>About</button></a>
        <a href="/cart"><button>Cart</button></a>
        <a href="/logout"><button>Logout</button></a>
        <hr>
    </header>
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <br>
          <br>
           <h3>Change Your Password:</h3>

            <p>Please enter your email and new password for your account</p>
            <form class="profile" action="resetPassword" method="post">

              <input type="hidden" name="token" value="{{token}}">
              <label for="password">Email: </label>
              <input type="password" class="u-full-width" name="email">
              <label for="password">New password: </label>
              <input type="password" class="u-full-width" name="password">            
              <input class="u-full-width button-primary" type="submit" name="submit" value="Reset Password">
            </form>

        </div>
      </div>
    </div>
  </body>
</html>
