<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">


  </head>
  <body>
    <div class="container">
      <div class="eight column ">
        <h2>Thank you for your patronage</h2>
          <p>Receipt: {{data.id}}</p>

          <p>Currency: {{data.cart}}</p>

      </div>
    </div>
  </body>
</html>
