* {
  box-sizing: border-box;
}

header {
  text-align: center;
  color:steelblue;
}

span {
  font-weight: bold;
  color: steelblue;

}
h2 {
  text-align: justify;
}

h4, h6 {
  text-align: center;
}


/*Products Page*/
.productImg {
  width:100%;
  max-width: 360px;
  max-height: 360px;
  height:auto;
  text-align: center;
}

/* Product display */

#display {
  margin: 0;
  padding: 0;
  list-style:none
}

#display li {
  float: left;
  width: 45%;
  margin: 2.5%;
  width: 200px;
  height: 230px;

}

#display li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
}

img {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

.quantityTxt {
  display: inline-block;
}

.quantityInput {
  max-width: 50px;
}
/*Cart Page*/
form {
  margin: 0;
}

form .removeBtn {
  margin-bottom: 5px;
  margin-top: 5px;
  color:red;
}
td {
  text-align: justify;;
}

th {
  text-align: justify;;
}

.cartBtn {
  text-align: right;
}

/*Checkout Page*/
label {
  text-align: left;
}

.checkoutBtn {
  color:green;
}



@media screen and (min-width: 680px) {
  #display li {
    width: 29%;
    margin: 2%;
  }
}
